<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211565996613-ei1icrlckl5fvu154i2ti6nfrkoshfmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211565996613-ei1icrlckl5fvu154i2ti6nfrkoshfmq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211565996613-sinr57juugvkkuhgvgug45q4sca1d2nv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfhaIq-dKsIelxhgFz3Kt7b_5z3SOqFFs</string>
	<key>GCM_SENDER_ID</key>
	<string>211565996613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.traversApp</string>
	<key>PROJECT_ID</key>
	<string>traverscore</string>
	<key>STORAGE_BUCKET</key>
	<string>traverscore.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211565996613:ios:fd76bd124d80bca0cb112c</string>
</dict>
</plist>